<div class="container">
  <h1>Your Bookings</h1>
  <h3>Pending</h3>
  <%= render 'bookings_list', :bookings => @bookings_pending, :status => 'pending' %>
  <h3>Confirmed</h3>
  <%= render 'bookings_list', :bookings => @bookings_confirmed, :status => 'confirmed' %>
  <h3>Declined</h3>
  <%= render 'bookings_list', :bookings => @bookings_past, :status => 'declined' %>
</div>
