<div class="container">
  <h1>Editing Profile</h1>
  <%= render 'form', user: @user %>
  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-red" %>
  <%= link_to 'Back', root_path, class: "btn btn-red" %>
</div>
