<div class="corona-info-wrapper">
  <div class="corona-info">
    <h2>COVID-19 Informationen</h2>
    <p>Priorität ist es natürlich unser Team und unsere Kunden in dieser Zeit zu schützen und über die Hygiene Vorschriften aufzuklären. Sowohl unsere Babysitter, als auch die Familien werden sich an die Hygienevorschriften des Bundesgesundheitsministeriums halten und per Email über weitere Vorsichtsmaßnahmen informiert.</p>
    <span>Sollte der Fall eintreffen, dass ihr eins der folgenden Symptome verspürt bitten wir euch uns dies umgehend zu melden und Zuhause zu bleiben. Zu den ersten Symptomen beim COVID-19 zählen:</span>
    <ul style="margin: 5px 0 10px 0">
      <li>Fieber</li>
      <li>Husten</li>
      <li>Abgeschlagenheit</li>
      <li>Atemprobleme wie Kurzatmigkeit</li>
    </ul>
    <p>
      <span>Weitere Hygienetipps und Informationen und zum COVID-19 findet ihr unter dem folgenden Link des Bundesgesundheitsministeriums.</span>
      <%= link_to
          'Link zu den Informationen des Bundesgesundheitsministeriums',
          'https://www.bundesgesundheitsministerium.de/fileadmin/Dateien/3_Downloads/C/Coronavirus/Merkblatt-Bildungseinrichtungen-Coronavirus_DE.pdf',
          target: :_blank,
          class: "link-red"
      %>
    </p>
  </div>
</div>
