<div class="corona-info-wrapper">
  <div class="corona-info">
    <h2>COVID-19 information</h2>
    <p>Our priority is of course to protect our team and our customers during this time and to educate them about the hygiene regulations. Our babysitters as well as the families will follow the hygiene regulations of the Federal Ministry of Health and will be informed by email about further precautions.</p>
    <span>If you experience any of the following symptoms, please notify us immediately and stay at home. Among the first symptoms of COVID-19 are:</span>
    <ul style="margin: 5px 0 10px 0">
      <li>Fever</li>
      <li>Cough</li>
      <li>Loss of energy</li>
      <li>Breathing problems such as shortness of breath</li>
    </ul>
    <p>
      <span>Further hygiene tips and information and about COVID-19 can be found under the following link of the Federal Ministry of Health</span>
      <%= link_to 'Link to the information of the Federal Ministry of Health', 'https://www.bundesgesundheitsministerium.de/fileadmin/Dateien/3_Downloads/C/Coronavirus/Merkblatt-Bildungseinrichtungen-Coronavirus_DE.pdf', target: :_blank, class: "link-red"
      %>
    </p>
  </div>
</div>
