.listing {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  border: 1px solid rgb(235,235,235);
  border-radius: 5px;
  height: 40px;
}

.listing .listing-content {
  flex-grow: 1;
  padding: 10px;
}

.listing .listing-content h6 {
  margin: 0;
}

.listing .listing-weekday {
  flex-grow: 0;
  width: 50px;
  height: 100%;
  background: #ef5044;
  color: white;
  text-align: center;
  border-radius: 5px 0 0 5px;
  padding: 10px 0;
}

.listing .listing-weekday h6 {
  margin: 0;
}

.listing p {
  margin: 0;
  line-height: 1.4;
}

.listing small {
  color: #999999;
  font-weight: bold;
}
.listing .listing-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.listing:hover .listing-actions {
  opacity: 1;
  margin-right: 10px;
}

.listing .listing-actions a {
  color: #999999;
  font-size: 14px;
  margin: 5px;
}

.listing .listing-actions a:hover {
  color: #555555;
}