.availability {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.availability .availability-content {
  flex-grow: 1;
  padding: 0;
}

.availability p {
  margin: 0;
  line-height: 1.4;
}

.availability small {
  color: #999999;
  font-weight: bold;
}
.availability .availability-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.availability:hover .availability-actions {
  opacity: 1;
}

.availability .availability-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.availability .availability-actions a:hover {
  color: #555555;
}

