.availability-form-box {
  width: calc(100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.availability-form-inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.availability-form-date {
  margin: 0;
  padding-right: 10px;
  width: 50%;
}

.availability-form-time {
  margin: 0;
  padding-right: 10px;
  width: 25%;
}

.availability-form-submit-btn {
  width: 150px;
}

.emoji-link {
  border-radius: 5px;
  padding: 5px;
}

.emoji-link:hover {
  text-decoration: none;
  background: lightgray;
}