.booking {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  border: 1px solid rgb(235,235,235);
  border-radius: 5px;
  height: 40px;
}

.booking .booking-content {
  flex-grow: 1;
  padding: 10px;
}

.booking .booking-content h6 {
  margin: 0;
}

.booking .booking-weekday {
  flex-grow: 0;
  width: 50px;
  height: 100%;
  background: #ef5044;
  color: white;
  text-align: center;
  border-radius: 5px 0 0 5px;
  padding: 10px 0;
}

.booking .booking-weekday h6 {
  margin: 0;
}

.booking p {
  margin: 0;
  line-height: 1.4;
}

.booking small {
  color: #999999;
  font-weight: bold;
}
.booking .booking-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.booking:hover .booking-actions {
  opacity: 1;
  margin-right: 10px;
}

.booking .booking-actions a {
  color: #999999;
  font-size: 14px;
  margin: 5px;
}

.booking .booking-actions a:hover {
  color: #555555;
}

.booking-form-box {
  width: calc(100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.booking-form-inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.booking-form-date {
  margin: 0;
  padding-right: 10px;
  width: 50%;
}

.booking-form-time {
  margin: 0;
  padding-right: 10px;
  width: 25%;
}

.booking-form-submit-btn {
  width: 150px;
}