.booking-form-box {
  width: calc(100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.booking-form-inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.booking-form-date {
  margin: 0;
  padding-right: 10px;
  width: 50%;
}

.booking-form-time {
  margin: 0;
  padding-right: 10px;
  width: 25%;
}

.booking-form-submit-btn {
  width: 150px;
}