<%= simple_form_for @availability, wrapper: :inline_form, html: { class: "form-inline" }, wrapper_mappings: { boolean: :inline_boolean} do |form| %>
  <div class="row">
    <div class="col-auto">
      <%= form.input :start_time,
                     as: :datetime,
                     minute_step: 15,
                     selected: DateTime.current.beginning_of_hour.advance(hours: 1),
                     label: false,
                     input_html: { type: "date", class: "mb-2 mr-sm-2" }
      %>
    </div>
    -
    <div class="col-auto">
      <%= form.input :end_time,
                     as: :time,
                     minute_step: 15,
                     selected: Time.current.beginning_of_hour.advance(hours: 4),
                     label: false,
                     input_html: { type: "time", class: "mb-2 mr-sm-2" }
      %>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </div>
  </div>
<% end %>
